{% load static %}



<footer >
    <!-- Footer Start-->
   <div class="footer-main" data-background="assets/img/shape/footer_bg.png">
     <div class="footer-area ">
         <div class="container">
             <div class="row d-flex justify-content-between">
                 <div class="col-lg-3 col-md-4 col-sm-8">
                    <div class="single-footer-caption mb-50">
                      <div class="single-footer-caption mb-30">
                           <!-- logo -->
                          <div class="footer-logo">
                              <a href="index.html"><img style="width: 170px;" src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                          </div>
                          <div class="footer-tittle">
                              <div class="footer-pera">
                                  <p class="info1">Srinivas ,Mukka, Surathkal,  <br>  Mangalore - 574146</p>
                                  <p class="info2">nexel.cd@gmail.com</p>
                             </div>
                          </div>
                          <div class="footer-social">
                             <a href="tel: 9778165158"><i class="fas fa-phone"></i></a>
                             <a href="https://www.instagram.com/nexel.in/"><i class="fab fa-instagram"></i></a>
                             <a href="https://nexel.in"><i class="fas fa-globe"></i></a>
                             <a href="https://api.whatsapp.com/send/?phone=919778165158&text&type=phone_number&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                         </div>
                      </div>
                    </div>
                 </div>
                 <div class="col-lg-2 col-md-4 col-sm-5">
                     <div class="single-footer-caption mb-50">
                         <div class="footer-tittle">
                             <h4>Quick Links</h4>
                             <ul>
                                 <li><a href="https://nexel.in/team">About</a></li>
                                 <li><a href="{% url 'blog' %}">Blog</a></li>
                                 <li><a href="tel: 9778165158">Call Now</a></li>
                                 <li><a href="https://nexel.in/terms-and-condition">Term and Condition</a></li>
                                 <li><a href="https://nexel.in/contact">24x7 Help </a></li>
                                 <li><a href="https://nexel.in/contact">Become Patner</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-2 col-md-4 col-sm-7">
                     <div class="single-footer-caption mb-50">
                         <div class="footer-tittle">
                             <h4>College</h4>
                             <ul>
                                 <li><a href="../university/search?query=Mangalore">Mangalore</a></li>
                                 <li><a href="../university/search?query=Bangalore">Bangalore</a></li>
                                 <li><a href="../university/search?query=Mumbai">Mumbai</a></li>
                                 <li><a href="../university/search?query=Kochi">Kochi</a></li>
                                 <li><a href="../university/search?query=Chennai">Chennai</a></li>
                                 <li><a href="../university/search?query=Coimbatore">Coimbatore</a></li>
                                 <li><a href="../university/search?query=Kochi">Kochi</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-4 col-sm-5">
                     <div class="single-footer-caption mb-50">
                         <div class="footer-tittle">
                             <h4>Course Offered</h4>
                             <ul>
                              <li><a href="../university/search?query=Engineering">Engineering</a></li>
                              <li><a href="../university/search?query=Mbbs"> Mbbs</a></li>
                              <li><a href="../university/search?query=Management">Management</a></li>
                              <li><a href="../university/search?query=Agriculture">Agriculture</a></li>
                              <li><a href="../university/search?query=Allied"> Allied</a></li>
                              <li><a href="../university/search?query=Paramedical"> Paramedical</a></li>
                              <li><a href="../university/search?query=Nursing"> Nursing</a></li>
                          </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- footer-bottom aera -->
     <div class="footer-bottom-area footer-bg">
         <div class="container">
             <div class="footer-border">
                  <div class="row d-flex align-items-center">
                      <div class="col-xl-12 ">
                          <div class="footer-copy-right text-center">
                              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://nexel.in" target="_blank">N E X E L G R O U P</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
<p style="margin-top: -10px;"><a href="https://nexel.in/terms-and-condition">Terms and Condition </a>/<a href="https://nexel.in/privacy-policy"> Privacy Policy</a></p>
<p style="margin-top: -10px;">Designed by <a href="https://nexel.in">Nexel</a>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>
   </div>
    <!-- Footer End-->

</footer>