{% load static %}
<nav style="margin: auto;">
    <!-- Header Start -->
   <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img style="margin-left: 15px;" src="{% static 'assets/img/logo/logo.png' %}" alt="" height=40></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav> 
                                <ul id="navigation">    
                                    <li><a href="{% url 'home' %}"> Home</a></li>
                                    <li><a href="{% url 'university' %}">University</a></li>
                                    <li><a href="{% url 'university' %}">Course</a>
                                        <ul class="submenu">
                                            <li><a href="../university/search?query=Engineering">Engineering</a></li>
                                            <li><a href="../university/search?query=Mbbs">Mbbs</a></li>
                                            <li><a href="../university/search?query=MANAGEMENT">Management</a></li>
                                            <li><a href="../university/search?query=AGRICULTURE">Agriculture</a></li>
                                            <li><a href="../university/search?query=ALLIED">Allied</a></li>
                                            <li><a href="../university/search?query=PARAMEDICAL">Paramedical</a></li>
                                            <li><a href="../university/search?query=PARAMEDICAL">Nursing</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'university' %}">Colleges</a>
                                        <ul class="submenu">
                                            <li><a href="../university/search?query=Mangalore">Mangalore</a></li>
                                            <li><a href="../university/search?query=Bangalore">Bangalore</a></li>
                                            <li><a href="../university/search?query=Chennai">Chennai</a></li>
                                            <li><a href="../university/search?query=Bangalore">Coimbatore</a></li>
                                            <li><a href="../university/search?query=Bangalore">Mumbai</a></li>
                                            <li><a href="../university/search?query=Bangalore">Kochi</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'blog' %}">Blogs</a></li>
                                    
                                    <li><a>Profile</a>
                                        <ul class="submenu">
                                            {% if user.is_authenticated %}  
                                            <li><a href="{% url 'profilepage' %}">Profile</a></li>
                                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                                            {% else %}
                                            <li><a href="{% url 'login' %}">Log In</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'talktous' %}">Talk to Expert</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>             
                    
                    <div class="col-xl-1 col-lg-1 col-md-3">
                        <div class="header-right-btn f-right d-none d-lg-block">
                            <a href="{% url 'talktous' %}" style="margin-right: -50px;" class="btn header-btn">Contact Us</a>
                        </div>
                    </div>
                        {% comment %} <div class="header-right-btn f-right d-flex d-lg-block">
                        {% if user.is_authenticated %}  
                            <a href="{% url 'logout' %}" class="btn header-btn">Logout</a>
                            <a href="{% url 'login' %}" class="btn header-btn">Login</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn header-btn">Login</a>
                        {% endif %}
                        </div> {% endcomment %}

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
   </div>
    <!-- Header End -->
</nav>