{% extends 'base.html' %}
{% load static %}

{% block title %}
Stay Up-to-Date with the Latest Education Trends and Insights on NexStud's Blog
{% endblock title %}

{% block meta %}
{% endblock meta %}


{% block content %}
<div class="services-area" style="height: 742px">
    <div class="container">
        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center mb-80">
                    <h2>Successful Registered​</h2>
                    <a href="{% url 'home' %}" class="btn hero-btn">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}