{% extends 'base.html' %}
{% load static %}

{% block title %}Get to Know NexStud: Your Trusted Partner for University Admissions in India{% endblock title %}

{% block content %}

<br>
<br>
<br>
<div class="tips-triks-area mt-5" style=" margin-top: 1px;">
    <div class="container">
         <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 pr-0">
                <div class="section-tittle text-center">
                    <h2>Talk-To-US</h2>
                    <p style="margin-top: -55px; margin-bottom: 45px;">Take the first step towards your academic success by calling our admission agent now and enrolling in our website for guaranteed university admission assistance</p>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <div class="row">
                {% comment %} <div class="col-md-3">
                    <img src="" alt="" class="img-fluid">
                </div> {% endcomment %}
                <div class="container mt-sm-20" style="text-align: center;">
                    <h3 style="margin-top: 15px;">Sidharth V.K</h3>
                    <hr>
                    <p>"Believe in yourself and your abilities, and the world will open up endless opportunities for you. So, take that first step, register for your education, and let the journey towards your dreams begin."</p>
                    <p>Contact : 9946188860</p>
                    <p>Mail To : Nexel.cd@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="section-top-border text-right">
            <div class="row">
                <div class="col-md-9" style="text-align: center;">
                    <h3 style="margin-top: 15px;">Abrar Navalur</h3>
                    <hr>
                    <p>"Education is not just a means to an end, but a journey of self-discovery and personal growth. By registering for your education, you're not only investing in your future, but also in the person you aspire to become."</p>
                    <p>Contact : 7829843942</p>
                    <p>Mail To : Nexel.cd@gmail.com</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'assets/img/teamnexstud/Abrar.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'assets/img/teamnexstud/Adwaith.png' %}" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20" style="text-align: center;">
                    <h3 style="margin-top: 15px;">Adwaith N.K</h3>
                    <hr>
                    <p>"Your future is calling, and the path to it starts with securing your place in college. Don't wait, take charge of your journey today by booking your admission and investing in your dreams."</p>
                    <p>Contact : 9895906370</p>
                    <p>Mail To : Nexel.cd@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="section-top-border text-right">
            <div class="row">
                <div class="col-md-9" style="text-align: center;">
                    <h3 style="margin-top: 15px;">Muhammad Ammar</h3>
                    <hr>
                    <p>"Every step you take towards education is a step towards a brighter and more fulfilling future. So, don't hesitate to book your admission for college and take that crucial first step towards a lifetime of learning and growth."</p>
                    <p>Contact : 8123395773</p>
                    <p>Mail To : Nexel.cd@gmail.com</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'assets/img/teamnexstud/Ammar.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>


{% endblock %}